@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.card-wrapper {
  box-shadow: 0 2px 18px #0000001a;
  max-height: calc(100vh - 3rem);
  overflow-y: scroll;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

.card-wrapper::-webkit-scrollbar {
  display: none;
}

.title {
  margin-bottom: 30px;
  @media (max-width: 767px) {
    position: fixed;
    background-color: #212b36;
    padding: 0 1.25em;
    width: calc(100% - 2rem);
    margin: 0;
    padding-bottom: 1.25em;
    padding-top: 1.25em;
    border-top-right-radius: 0.75rem;
    border-top-left-radius: 0.75rem;
  }
}

.graph-wrapper {
  @media (max-width: 767px) {
    margin-top: 80px;
  }
}

.title h1 {
  font-weight: bold;
}

.costs h4 {
  font-size: 16px;
}

.costs p {
  font-size: 14px;
}

.costs p.savings {
  color: #ff5000;
  margin-top: 10px;
}

.ev-message {
  margin-top: 20px;
  color: #c5c5c5;
  font-size: 12px;
}
